<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087431276985-t6oq3s5l0a9c1d96c9i0ce5kipfh1h3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087431276985-t6oq3s5l0a9c1d96c9i0ce5kipfh1h3p</string>
	<key>API_KEY</key>
	<string>AIzaSyBMpRwTpc9Qn694PRmEO5ZN-G0P3YMuius</string>
	<key>GCM_SENDER_ID</key>
	<string>1087431276985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.ru.TripNotes</string>
	<key>PROJECT_ID</key>
	<string>tripnotes-f32dc</string>
	<key>STORAGE_BUCKET</key>
	<string>tripnotes-f32dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087431276985:ios:e59645b1956997a5cfde68</string>
</dict>
</plist>